<section>
  <footer id="footer">
    <div class="wrapper">
      <div class="footer-menu-wrapper">
        <div class="footer-menu">
          <ul class="footer-menu-column">
            <li class="footer-menu-title">about</li>
            <li class="footer-menu-item">about us</li>
            <li class="footer-menu-item">Our Ethics</li>
            <li class="footer-menu-item">Store Locator</li>
            <li class="footer-menu-item">wholesale</li>
          </ul>
          <ul class="footer-menu-column">
            <li class="footer-menu-title">discover</li>
            <li class="footer-menu-item">Subscriptions</li>
            <li class="footer-menu-item">Rewards</li>
            <li class="footer-menu-item">Brewing Guide</li>
            <li class="footer-menu-item">blog</li>
          </ul>
          <ul class="footer-menu-column">
            <li class="footer-menu-title">support</li>
            <li class="footer-menu-item">contact us</li>
            <li class="footer-menu-item">shipping</li>
            <li class="footer-menu-item">FAQ</li>
            <li class="footer-menu-item">Terms & Conditions</li>
            <li class="footer-menu-item">My Account</li>
          </ul>
        </div>
      </div>
      <div></div>
    </div>
  </footer>
</section>
