<section>
  <div class="grid grid-cols-2">
    <div class="flex justify-end">col1</div>
    <div class="bg-[#fafafa]">
      <div
        class="sticky max-w-[48rem] w-full right-auto left-auto top-0 bottom-0 p-[3.6rem]"
      >
        <div class="relative flex flex-col gap-[1.4rem]">
          <div class="flex flex-col gap-[1.4rem]">
            <div *ngFor="let item of cartItems" class="flex">
              <div class="relative">
                <img
                  class="w-[64px] h-[64px]"
                  [src]="item.image"
                  [alt]="item.name"
                />
                <div
                  class="absolute flex justify-center items-center right-[-7px] top-[-7px] rounded-full text-xs text-white bg-[#0000008f] min-w-[1.2rem] min-h-[1.2rem]"
                >
                  <p>{{ item.quantity }}</p>
                </div>
              </div>
              <div class="flex flex-1 flex-col pl-[14px] font-normal text-xs">
                <p>{{ item.name }}, {{ item.company }}</p>
                <p class="text-[#0000008f]">
                  {{ this.getColorName(item.selectedColor) }}
                  <span
                    *ngIf="item.isSubscribed && item.subscriptionPlan"
                    class="text-gray-600"
                  >
                    / {{ getSubscriptionDisplay(item.subscriptionPlan) }}
                  </span>
                  <span *ngIf="item.giftWrap" class="text-gray-600"
                    >/ Gift Wrap</span
                  >
                </p>
              </div>
              <p class="text-xs">
                {{ item.price * (item.quantity || 1) | currency : "USD" }}
              </p>
            </div>
          </div>
          <div
            class="grid grid-cols-[minmax(0,1fr)_minmax(auto,max-content)] gap-3.5"
          >
            <input
              class="p-[13.5px] border rounded-lg border-gray-400 focus:outline-none placeholder:text-gray-600 placeholder:text-sm"
              type="text"
              placeholder="Discount code or gift card"
            />
            <button
              class="px-3.5 rounded-lg border border-[#dadada] bg-gray-100"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
