<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black opacity-50 z-50"
  (click)="onOverlayClick($event)"
></div>

<div
  class="fixed top-0 bottom-0 right-0 w-full md:w-[480px] h-full bg-white shadow-lg z-50 border border-gray-200 transition-transform duration-300 ease-in-out flex flex-col"
  [class.translate-x-full]="!isOpen"
  [class.translate-x-0]="isOpen"
>
  <header
    class="relative flex justify-between items-center pt-5 pb-[18px] px-8 after:content-[''] after:w-full after:border-b-[1px] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:border-[#e2e1e1] select-none"
  >
    <h2 class="font-title text-2xl text-black select-none">Your bag</h2>
    <button
      (click)="onClose()"
      class="rounded-full bg-gray-200 flex items-center p-0.5 cursor-pointer"
    >
      <span class="material-symbols-outlined !text-[20px] select-none"
        >close</span
      >
    </button>
  </header>

  <div
    *ngIf="cartItems.length === 0"
    class="flex flex-col flex-1 px-8 py-6 pb-12"
  >
    <p>Your bag is empty. Not sure where to start?</p>

    <div class="mt-auto">
      <app-button (click)="onNavigateStore()" [wFull]="true"
        >SHOP ALL PRODUCTS</app-button
      >
    </div>
  </div>

  <div
    *ngIf="cartItems.length > 0"
    class="flex flex-col flex-1 py-6 overflow-y-auto"
  >
    <div
      *ngFor="let item of cartItems"
      class="flex items-center gap-4 py-5 px-8 border-b border-[#e2e1e1]"
    >
      <img
        [src]="item.image"
        [alt]="item.name"
        class="w-24 h-24 object-cover rounded"
      />
      <div class="flex-1">
        <div class="flex justify-between">
          <h3 class="font-title text-base text-gray-900 capitalize">
            {{ item.name }}&nbsp;•&nbsp;{{ item.company }}
          </h3>

          <button
            (click)="removeItem(item.id, item.selectedColor)"
            class="rounded-full bg-gray-200 flex items-center justify-center w-[20px] h-[20px] cursor-pointer"
          >
            <span class="material-symbols-outlined !text-[15px] select-none"
              >close</span
            >
          </button>
        </div>
        <div class="font-text text-xs flex">
          <p
            *ngIf="item.selectedColor"
            class="text-gray-600 flex items-center gap-2"
          >
            {{ getColorName(item.selectedColor) }}&nbsp;
          </p>
          <p
            *ngIf="item.isSubscribed && item.subscriptionPlan"
            class="text-gray-600"
          >
            / {{ getSubscriptionDisplay(item.subscriptionPlan) }}
          </p>
          <p *ngIf="item.giftWrap" class="text-gray-600">/ Gift Wrap</p>
        </div>

        <div class="flex justify-between mt-[28px]">
          <div class="flex items-center gap-2">
            <button
              (click)="decrementQuantity(item.id, item.selectedColor)"
              class="w-6 h-6 bg-gray-200 rounded-full flex items-center justify-center hover:bg-gray-300"
            >
              <span class="material-symbols-outlined text-sm">remove</span>
            </button>
            <span class="text-sm">{{ item.quantity || 1 }}</span>
            <button
              (click)="incrementQuantity(item.id, item.selectedColor)"
              class="w-6 h-6 bg-gray-200 rounded-full flex items-center justify-center hover:bg-gray-300"
            >
              <span class="material-symbols-outlined text-sm">add</span>
            </button>
          </div>

          <p class="font-medium text-sm">
            ${{
              ((item.adjustedPrice || item.price) / 100) * (item.quantity || 1)
                | number : "1.0-2"
            }}
          </p>
        </div>
      </div>
    </div>

    <div class="py-6 px-8 mt-auto">
      <div
        class="flex justify-between items-center font-text mt-4 mb-5 pt-2 border-t"
      >
        <span class="text-sm text-gray-700">Subtotal</span>
        <span class="text-base">
          ${{ subtotal / 100 | number : "1.0-2" }}
        </span>
      </div>
      <app-button (click)="onCheckout()" [style]="'secondary'" [wFull]="true">
        Checkout
      </app-button>
    </div>
  </div>
</div>
