<nav id="navbar" class="navbar">
  <div class="navbar-header">
    <div class="navbar-wrapper wrapper">
      <div class="navbar-header-left">
        <button class="block md-navbar:hidden">
          <span class="material-symbols-outlined navbar-header-menu-icon">
            menu
          </span>
        </button>
        <ul class="navbar-header-links">
          <li class="group">
            <p class="navbar-header-link">Roast coffe</p>
            <div class="megamenu">
              <h1>hello roast coffe</h1>
            </div>
          </li>
          <li class="group">
            <p class="navbar-header-link">capsules</p>
            <div class="megamenu">
              <div class="megamenu-inner wrapper">
                <div>
                  <div class="megamenu-menu-links">
                    <div class="megamenu-tier">
                      <p class="megamenu-tier-title">
                        Buy Luxe Opal Jewelry Gems
                      </p>
                      <p class="megamenu-link">
                        galapagos <span class="megamenu-badge md-dark"></span>
                        <span class="megamenu-badge-text">Medium-Dark</span>
                      </p>
                      <p class="megamenu-link">
                        Hawaii Kona <span class="megamenu-badge md-dark"></span>
                        <span class="megamenu-badge-text">Medium-Dark</span>
                      </p>
                      <p class="megamenu-link">
                        Jamaica Blue Mountain
                        <span class="megamenu-badge-watch">bestseller</span>
                      </p>
                      <p class="megamenu-link">
                        Panama Geisha
                        <span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text">Medium</span>
                      </p>
                      <p class="megamenu-link">
                        St Helena
                        <span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text">Medium</span>
                      </p>
                      <p class="megamenu-link">
                        Wild Kopi Luwak
                        <span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text">Medium</span>
                      </p>
                    </div>
                  </div>
                  <div class="megamenu-bottom-bar">
                    <p>
                      All our opal gems shine with pure elegance - crafted from
                      nature
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><p class="navbar-header-link">gifts</p></li>
          <li><p class="navbar-header-link">green coffe</p></li>
        </ul>
      </div>
      <div class="navbar-header-logo">
        <h1>Velvet Crest</h1>
      </div>
      <div class="navbar-header-right">
        <ul class="navbar-header-links">
          <li><p class="navbar-header-link">Discover</p></li>
          <li><p class="navbar-header-link">Subscriptions</p></li>
        </ul>
        <div class="navbar-header-icons">
          <div class="navbar-header-search">
            <input
              class="navbar-header-search-input focus:outline-none"
              type="text"
              placeholder="SEARCH"
              name="search"
            />
            <button class="navbar-header-search-btn">
              <span class="material-symbols-outlined navbar-header-icon">
                search
              </span>
            </button>
          </div>
          <div class="navbar-header-icon-wrapper hidden md-navbar:block">
            <span class="material-symbols-outlined navbar-header-icon">
              person
            </span>
          </div>
          <div class="navbar-header-icon-wrapper">
            <span class="material-symbols-outlined navbar-header-icon">
              shopping_bag
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
