@reference "../../styles.css";

.navbar {
  @apply sticky top-0 z-50;
}

.navbar-header {
  @apply bg-white text-black border-b border-black/10;
}

.navbar-wrapper {
  @apply flex py-4 md-navbar:py-0 px-4 items-center justify-between gap-4;
}

.navbar-header-left {
  @apply flex-1;
}

.navbar-header-left .navbar-header-menu-icon {
  @apply text-[32px];
}

.navbar-header-links {
  @apply hidden md-navbar:flex items-center md-navbar:gap-6 gap-5;
}

.navbar-header-link {
  @apply font-text text-[12px] py-[25px] uppercase border-b-2 border-b-transparent group-hover:border-b-black cursor-pointer;
}

.navbar-header-logo {
  @apply grow-0 font-title font-bold;
}

.navbar-header-right {
  @apply flex flex-1 items-center justify-end gap-6;
}

.navbar-header-icons {
  @apply flex justify-center;
}

.navbar-header-icon {
  @apply text-[16px] cursor-pointer;
}

.navbar-header-search {
  @apply hidden md-navbar:block relative mr-2;
}

.navbar-header-icon-wrapper {
  @apply p-2 w-8 h-8;
}

.navbar-header-search-input {
  @apply border-none rounded-[100px] py-2.5 pr-10 pl-4 text-[10px] font-text max-w-[150px] bg-gray-search-bar;
}

.navbar-header-search-btn {
  @apply absolute top-1/2 right-4 transform -translate-y-1/2 cursor-pointer;
}

.megamenu {
  scrollbar-width: none;
  @apply bg-white w-full hidden absolute p-6 left-0 z-10 border-t border-t-[rgba(0,0,0,0.1)] group-hover:block;
}

.megamenu-inner {
  @apply relative flex gap-9;
}

.megamenu-inner-type-1 {
  @apply relative grid grid-cols-[410px_1fr];
}

.megamenu-type-3 {
  @apply py-6 group-hover:flex gap-6 justify-between;
}

.megamenu-type-4 {
  @apply grid-cols-4 gap-6 p-6 group-hover:grid;
}

.megamenu-left {
  @apply flex-1 shrink-0 basis-auto;
}

.megamenu-menu-links {
  @apply grid grid-cols-3 gap-12;
}

.megamenu-tier-title {
  @apply capitalize font-text mb-4 text-[12px] font-semibold;
}

.megamenu-link {
  @apply text-[#1e1e1e] cursor-pointer uppercase font-text text-[12px] mb-4;
}

.megamenu-link-1 {
  @apply capitalize max-w-fit;
}

.megamenu-badge {
  @apply inline-block mx-2.5 w-2.5 h-2.5 rounded-full;
}

.dark {
  @apply bg-badge-dark;
}

.md-dark {
  @apply bg-badge-md-dark;
}

.md {
  @apply bg-badge-md;
}

.light {
  @apply bg-badge-light;
}

.text-badge-dark {
  @apply text-badge-dark;
}

.text-badge-light {
  @apply text-badge-light;
}

.text-badge-md {
  @apply text-badge-md;
}

.text-badge-md-dark {
  @apply text-badge-md-dark;
}

.megamenu-badge-text {
  @apply text-[12px] text-badge-md-dark;
}

.megamenu-badge-watch {
  @apply bg-seashell py-1 px-2 rounded-[4px] ml-4;
}

.megamenu-bottom-bar {
  @apply bg-seashell rounded-sm p-2.5 text-[10.5px] text-center mt-[60px];
}

.megamenu-banner {
  @apply bg-dark-slate-green rounded-sm text-white flex flex-col justify-between p-4 max-w-[322px];
}

.megamenu-banner-text {
  @apply text-[24px] font-title font-medium leading-[1.3] text-white;
}

.megamenu-banner-link {
  @apply uppercase underline font-text font-semibold underline-offset-[8px] text-white cursor-pointer;
}

.megamenu-banner-default {
  @apply bg-dark-slate-green text-white flex flex-col justify-between p-6 rounded-sm;
}

.megamenu-banner-img {
  @apply rounded-tl-sm rounded-tr-sm overflow-hidden cursor-pointer select-none;
}

.megamenu-banner-img img {
  @apply object-cover h-[220px] rounded-tl-sm rounded-tr-sm;
}

.megamenu-banner-img .megamenu-banner-content {
  @apply bg-white-smoke pt-4 pr-[48px] pb-[38px] pl-4;
}

.megamenu-banner-title {
  @apply font-title text-2xl font-medium mb-2 capitalize;
}

.megamenu-banner-img-text {
  @apply font-text text-sm font-normal;
}

.megamenu-menu {
  @apply flex gap-12;
}

.megamenu-menu-type-1 {
  @apply border-r border-r-[rgba(0,0,0,0.1)] pr-10 pb-10;
}

.megamenu-tier {
  @apply max-w-[250px];
}

.megamenu-title {
  @apply capitalize mb-4 text-[12px] font-semibold;
}

.megamenu-banners {
  @apply flex flex-1 gap-2 justify-end;
}

.megamenu-banner-1 {
  @apply bg-steel-blue max-w-[322px] p-6 rounded-sm;
}

.megamenu-banner-text-1 {
  @apply mb-12;
}

.megamenu-banner-image {
  background-image: var(--bg-origin-week);
  @apply relative p-6 bg-cover flex flex-col justify-end items-center max-w-[322px] text-center;
}

.megamenu-banner-image::after {
  content: "";
  background-image: linear-gradient(1deg, #000c 1%, #0000 97%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.megamenu-banner-badge {
  @apply absolute top-2 left-2 bg-black rounded-sm text-white py-1 px-2 text-[10px];
}

.megamenu-subcategory-title {
  @apply flex justify-between items-center border-b border-b-[rgba(0,0,0,0.1)] py-6 text-2xl text-black cursor-pointer;
}

.megamenu-menu-secondary {
  @apply mt-6;
}

.megamenu-menu-secondary-item:not(:last-child) {
  margin-bottom: 16px;
}

.megamenu-menu-secondary-item {
  @apply capitalize text-[12px] cursor-pointer max-w-fit;
}

.megamenu-subcategory-title.is-active {
  @apply text-green-400;
}

.megamenu-subcategory-icon {
  @apply flex justify-center items-center w-8 h-8 rounded-full bg-[#f9f9f9];
}

.megamenu-subcategory-title.is-active .megamenu-subcategory-icon {
  @apply bg-green-400 text-white;
}

.megamenu-subcategory {
  @apply hidden px-10 pt-10 pb-8 gap-8 grid-cols-4;
}

.megamenu-subcategory.is-active {
  @apply grid;
}

.megamenu-subcategory-item {
  @apply text-[12px] font-text;
}

.megamenu-children-title {
  @apply font-semibold uppercase mb-4 cursor-pointer max-w-fit;
}

.megamenu-child-link-item {
  @apply capitalize cursor-pointer max-w-fit;
}

.megamenu-child-link-item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-drawer {
  height: calc(100dvh - 70px);
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    visibility 0.25s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translate(-100%);
  @apply bg-white w-full fixed left-0 top-[70px] overflow-x-hidden overflow-y-auto z-50;
  visibility: hidden;
}

.menu-drawer.active {
  transform: translate(0%);
  visibility: visible;
  @apply translate-x-0;
}

.menu-drawer-level {
  @apply px-6 pb-6 pt-2 flex flex-col relative;
}

.menu-drawer-search {
  @apply bg-[#f7f7f7] rounded-[100px] mb-6 pr-4;
}

.menu-drawer-search .inner {
  @apply relative w-full gap-4 flex items-center;
}

.menu-drawer-search .inner input {
  @apply bg-transparent font-medium border-none py-4 pr-10 pl-4 w-full appearance-none text-[10px] uppercase;
}

.menu-drawer-search button {
  @apply border-0 rounded-none p-0 m-0 bg-transparent cursor-pointer inline-block;
}

.menu-drawer-search span {
  @apply text-[16px];
}

.menu-drawer-primary {
  @apply mb-6;
}

.menu-drawer-root-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-drawer-root-link {
  @apply w-full text-[18px] font-text flex justify-between items-center py-4 cursor-pointer;
}

/* .menu-drawer-root-link.active {
  @apply absolute flex-row-reverse justify-end pl-6 left-0 top-0 bg-[#f9f9f9];
  } */

.menu-drawer-root-link .material-symbols-outlined {
  @apply rounded-full bg-[#f9f9f9] p-2 font-extralight;
}

/* test functionality */
.menu-drawer-root-lvl-2.active {
  @apply block absolute flex-row-reverse justify-end left-0 top-0;
}

.menu-drawer-root-lvl-2 {
  @apply w-full hidden;
}

.menu-drawer-root-lvl-2 > :first-child {
  @apply pl-6 bg-[#f9f9f9] flex-row-reverse justify-end font-title text-[20px];
}

.menu-drawer-primary .menu-drawer-root-link.hidden {
  @apply hidden;
}

.menu-drawer-submenu-lvl-2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  @apply mx-6;
}

.menu-drawer-submenu-lvl-2 .menu-drawer-root-link {
  @apply px-0;
}

.menu-drawer-secondary {
  @apply py-6;
}

.menu-drawer-secondary-link {
  @apply mb-4 text-[12px] font-text mx-6 cursor-pointer w-fit;
}
