<nav id="navbar" class="navbar">
  <div class="navbar-header">
    <div class="navbar-wrapper wrapper">
      <div class="navbar-header-left">
        <button class="block md-navbar:hidden">
          <span class="material-symbols-outlined navbar-header-menu-icon">
            menu
          </span>
        </button>
        <ul class="navbar-header-links">
          <li class="group">
            <p class="navbar-header-link">Polish gems</p>
            <div class="megamenu">
              <div class="wrapper">
                <div class="megamenu-menu-type-1">
                  <p class="megamenu-subcategory-title">
                    <span> Shop by Origin </span>
                    <span class="material-symbols-outlined">
                      keyboard_arrow_right
                    </span>
                  </p>
                  <p class="megamenu-subcategory-title">
                    <span> Shop by Type </span>
                    <span class="material-symbols-outlined">
                      keyboard_arrow_right
                    </span>
                  </p>
                  <p class="megamenu-subcategory-title">
                    <span> opal shine sets </span>
                  </p>
                  <div class="megamenu-menu-secondary">
                    <p class="megamenu-menu-secondary-item">bestsellers</p>
                    <p class="megamenu-menu-secondary-item">
                      Wild Animal luxury
                    </p>
                    <p class="megamenu-menu-secondary-item">
                      New & Back in Stock
                    </p>
                    <p class="megamenu-menu-secondary-item">
                      Origin of the Week
                    </p>
                    <p class="megamenu-menu-secondary-item">Shop All</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="group">
            <p class="navbar-header-link">capsules</p>
            <div class="megamenu">
              <div class="megamenu-inner wrapper">
                <div class="megamenu-left">
                  <div class="megamenu-menu-links">
                    <div class="megamenu-tier">
                      <p class="megamenu-tier-title">
                        Buy Luxe Opal Jewelry Gems
                      </p>
                      <p class="megamenu-link">
                        galapagos <span class="megamenu-badge md-dark"></span>
                        <span class="megamenu-badge-text">Medium-Dark</span>
                      </p>
                      <p class="megamenu-link">
                        Hawaii Kona <span class="megamenu-badge md-dark"></span>
                        <span class="megamenu-badge-text">Medium-Dark</span>
                      </p>
                      <p class="megamenu-link">
                        Jamaica Blue Mountain
                        <span class="megamenu-badge-watch">bestseller</span>
                      </p>
                      <p class="megamenu-link">
                        Panama Geisha
                        <span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text">Medium</span>
                      </p>
                      <p class="megamenu-link">
                        St Helena
                        <span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text">Medium</span>
                      </p>
                      <p class="megamenu-link">
                        Wild Kopi Luwak
                        <span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text">Medium</span>
                      </p>
                    </div>
                    <div class="megamenu-tier">
                      <p class="megamenu-tier-title">Opal Crest Valley Gems</p>
                      <p class="megamenu-link">
                        Stoneleigh Estate
                        <span class="megamenu-badge light"></span>
                        <span class="megamenu-badge-text text-badge-light"
                          >Light</span
                        >
                      </p>
                      <p class="megamenu-link">
                        Blue Baron Estate<span class="megamenu-badge md"></span>
                        <span class="megamenu-badge-text text-badge-md"
                          >Medium</span
                        >
                      </p>
                      <p class="megamenu-link">
                        Clifton Mount Estate
                        <span class="megamenu-badge md-dark"></span>
                        <span class="megamenu-badge-text text-badge-md-dark"
                          >Medium-Dark</span
                        >
                      </p>
                      <p class="megamenu-link">
                        Signature Collection
                        <span class="megamenu-badge dark"></span>
                        <span class="megamenu-badge-text text-badge-dark"
                          >Dark</span
                        >
                      </p>
                    </div>
                    <div class="megamenu-tier">
                      <p class="megamenu-tier-title">Opal Gem Storage Cases</p>
                      <p class="megamenu-link">
                        Jamaica Blue Mountain Collection
                      </p>
                      <p class="megamenu-link">Luxury Pod Collection</p>
                      <p class="megamenu-link">Discovery Pod Collection</p>
                      <p class="megamenu-link">All Collection Boxes</p>
                    </div>
                  </div>
                  <div class="megamenu-bottom-bar">
                    <p>
                      All our opal gems shine with pure elegance - crafted from
                      nature
                    </p>
                  </div>
                </div>
                <div class="megamenu-banner">
                  <p class="megamenu-banner-text">
                    Discover the purest opal gems, rare mountain-crafted jewelry
                    pieces
                  </p>
                  <a class="megamenu-banner-link" href="#">SHOP NOW</a>
                </div>
              </div>
            </div>
          </li>
          <li class="group">
            <p class="navbar-header-link">gifts</p>
            <div class="megamenu megamenu-type-4">
              <div class="megamenu-banner-default">
                <p class="megamenu-banner-text">
                  Our gift sets are exquisitely packaged in our signature matte
                  black boxes and finished with satin white ribbon - the perfect
                  gift for any ocation.
                </p>
                <a class="megamenu-banner-link" href="#">shop all gifts</a>
              </div>
              <div class="megamenu-banner-img">
                <img src="/megamenu_0.jpg" alt="gift one" />
                <div class="megamenu-banner-content">
                  <p class="megamenu-banner-title">gift sets</p>
                  <p class="megamenu-banner-img-text">
                    Explore the world's rarest single-origin luxuries in our
                    curated gift sets.
                  </p>
                </div>
              </div>
              <div class="megamenu-banner-img">
                <img src="/cta_2.jpg" alt="gift one" />
                <div class="megamenu-banner-content">
                  <p class="megamenu-banner-title">Gift Barrel</p>
                  <p class="megamenu-banner-img-text">
                    Manufactured hand-finished, and painted in Japan.
                  </p>
                </div>
              </div>
              <div class="megamenu-banner-img">
                <img src="/cta_3.jpg" alt="gift one" />
                <div class="megamenu-banner-content">
                  <p class="megamenu-banner-title">Gift Card</p>
                  <p class="megamenu-banner-img-text">
                    Let them choose their own with a Sea Island Coffee gift
                    card.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li><p class="navbar-header-link">green coffe</p></li>
        </ul>
      </div>
      <div class="navbar-header-logo">
        <h1>Velvet Crest</h1>
      </div>
      <div class="navbar-header-right">
        <ul class="navbar-header-links">
          <li class="group">
            <p class="navbar-header-link">Discover</p>
            <div class="megamenu megamenu-type-3">
              <div class="megamenu-menu">
                <div class="megamenu-tier">
                  <p class="megamenu-title">about</p>
                  <p class="megamenu-link megamenu-link-1">our story</p>
                  <p class="megamenu-link megamenu-link-1">our ethics</p>
                  <p class="megamenu-link megamenu-link-1">FAQ</p>
                  <p class="megamenu-link megamenu-link-1">store locator</p>
                </div>
                <div class="megamenu-tier">
                  <p class="megamenu-title">learn</p>
                  <p class="megamenu-link megamenu-link-1">rewards</p>
                  <p class="megamenu-link megamenu-link-1">subscriptions</p>
                  <p class="megamenu-link megamenu-link-1">brew guide</p>
                  <p class="megamenu-link megamenu-link-1">blog</p>
                </div>
              </div>
              <div class="megamenu-banners">
                <div class="megamenu-banner-1">
                  <p class="megamenu-banner-text megamenu-banner-text-1">
                    Looking for a gift? Our gift sets are curated to showcase
                    some of our best complementary origins.
                  </p>
                  <p class="megamenu-banner-link">shop all gifts</p>
                </div>
                <div class="megamenu-banner-image">
                  <p class="megamenu-banner-badge">
                    20% off with code ORIGINOFTHEWEEK
                  </p>
                  <p class="megamenu-banner-text z-30">
                    Origin of the Week: Mexico City
                  </p>
                  <br />
                  <br />
                  <p class="megamenu-banner-link z-30">Shop now</p>
                </div>
              </div>
            </div>
          </li>
          <li class="group"><p class="navbar-header-link">Subscriptions</p></li>
        </ul>
        <div class="navbar-header-icons">
          <div class="navbar-header-search">
            <input
              class="navbar-header-search-input focus:outline-none"
              type="text"
              placeholder="SEARCH"
              name="search"
            />
            <button class="navbar-header-search-btn">
              <span class="material-symbols-outlined navbar-header-icon">
                search
              </span>
            </button>
          </div>
          <div class="navbar-header-icon-wrapper hidden md-navbar:block">
            <span class="material-symbols-outlined navbar-header-icon">
              person
            </span>
          </div>
          <div class="navbar-header-icon-wrapper">
            <span class="material-symbols-outlined navbar-header-icon">
              shopping_bag
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
