<section id="product-details">
  <div *ngIf="product">
    <div class="md-wrapper:hidden">
      <div #swiperContainerSingleProduct class="swiper h-[540px]">
        <div class="swiper-wrapper">
          <div *ngFor="let image of product.images" class="swiper-slide">
            <img
              (load)="onImageLoaded()"
              [src]="image.url"
              [alt]="product.name"
              class="object-cover w-full h-full no-drag"
            />
          </div>
        </div>
        <div
          class="swiper-button-prev ml-4 keen-arrow product-details-navigation-prev text-black absolute left-0 top-1/2 -translate-y-1/2 z-30 rounded-full w-8 h-8 flex justify-center items-center hover:bg-[#515b5d] hover:text-white bg-[#f9f9f9] select-none"
        >
          <span class="material-symbols-outlined thin-icon">chevron_left</span>
        </div>
        <div
          class="swiper-button-next mr-4 keen-arrow product-details-navigation-next text-black absolute right-0 top-1/2 -translate-y-1/2 z-30 rounded-full w-8 h-8 flex justify-center items-center hover:bg-[#515b5d] hover:text-white bg-[#f9f9f9] select-none"
        >
          <span class="material-symbols-outlined thin-icon">chevron_right</span>
        </div>
      </div>
      <div class="flex justify-center w-full">
        <div
          class="swiper-pagination product-details-swiper-pagination h-9 flex justify-center items-center !bottom-auto"
        ></div>
      </div>
    </div>
  </div>
  <div class="wrapper my-8">
    <div
      *ngIf="product"
      class="grid grid-cols-1 md-wrapper:grid-cols-2 max-w-[1132px] mx-auto gap-[84px]"
    >
      <div class="select-none hidden md-wrapper:block">
        <div class="relative">
          <img
            [src]="product.images[0].url"
            [alt]="product.name"
            (load)="onImageLoaded()"
            class="w-[524px] h-[524px] object-cover rounded select-none no-drag"
          />
          <div
            *ngIf="product.featured"
            class="absolute capitalize z-30 top-4 left-4 bg-[#edf3f6] rounded-3xl py-1.5 px-4 text-[12px] font-text select-none"
          >
            bestseller
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2 mt-2">
          <div *ngFor="let image of product.images | slice : 1">
            <img
              (load)="onImageLoaded()"
              [src]="image.url"
              [alt]="product.name"
              class="w-[258px] h-[258px] object-cover rounded no-drag"
            />
          </div>
        </div>
      </div>

      <div>
        <h1 class="text-[32px] font-normal capitalize text-center font-title">
          {{ product.name }}
        </h1>
        <p class="text-center text-[20px] font-title">Signature Collection</p>
        <h2 class="capitalize text-center">company • {{ product.company }}</h2>
        <p class="text-xl text-gray-600 mb-2">
          ${{ product.price / 100 | number : "1.0-2" }}
        </p>
        <p class="text-gray-500 mb-4" *ngIf="product.description">
          {{ product.description }}
        </p>
        <app-button
          class="flex-1"
          [paddingX]="'px-2.5'"
          [paddingY]="'py-2.5'"
          [style]="'primary'"
          [wFull]="true"
          >Add to Cart</app-button
        >
      </div>
    </div>
  </div>
</section>
