<section id="collection">
  <div class="wrapper select-none">
    <div class="collection-slider-content">
      <p class="collection-slider-title">Explore Popular Origins</p>
      <p class="collection-slider-cta">
        shop all luxury's
        <span class="material-symbols-outlined thin-icon"> chevron_right </span>
      </p>
    </div>
    <div id="collection-swiper" class="swiper collection-swiper">
      <div class="swiper-wrapper collection-swiper-wrapper">
        @for (slide of slides; track slide.id) {
        <div class="swiper-slide group">
          <div class="collection-swiper-img-wrapper">
            <img
              [src]="slide.image"
              [alt]="slide.description"
              class="collection-swiper-img"
            />
          </div>
          <div class="collection-swiper-text">
            <h3 class="collection-swiper-text-title">
              {{ slide.title }}
            </h3>
            <div class="collection-swiper-text-link">Shop Now</div>
          </div>
        </div>
        }
      </div>
      <div class="flex justify-center w-full">
        <div
          class="swiper-pagination collection-pagination progress-pagination"
        ></div>
      </div>
    </div>
  </div>
</section>
