<section
  class="w-full h-full md:h-[115vh] 4k:h-[750px] relative overflow-hidden"
>
  <div class="swiper hero-swiper w-full h-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center justify-center h-full w-full bg-seashell"
        >
          <div
            class="flex items-center md:h-full w-full text-black py-8 px-4 order-1 md:order-0"
          >
            <div class="hero-slider__content">
              <p class="hero-slider__subtitle">ORIGIN OF THE WEEK</p>
              <p class="hero-slider__title">Mexico City</p>
              <p class="hero-slider__text">
                Discover VelvetCrest luxury – 20% off this week only! Crafted
                with timeless elegance, our exclusive collection embodies the
                sophistication and prestige of our heritage since 1726.
              </p>
              <button
                class="mt-4 px-6 py-2 bg-yellow-600 text-white rounded-full hover:bg-yellow-700 transition"
              >
                Shop Now
              </button>
            </div>
          </div>
          <div class="hero-slider__media">
            <img
              class="object-cover absolute w-full h-full"
              src="/main_slider_1.jpg"
              alt="slide image 1"
            />
            <div class="hero-slider__badge">
              <p>Use Code: ORIGINOFTHEWEEK for 20% off!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="swiper-button-prev text-white opacity-75 hover:opacity-100 transition"
    ></div>
    <div
      class="swiper-button-next text-white opacity-75 hover:opacity-100 transition"
    ></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
