<button
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[
    className,
    paddingX,
    paddingY,
    'font-text',
    'text-[12px]',
    'uppercase',
    'font-semibold',
    'inline-block',
    'rounded-sm',
    'border',
    'transition-colors',
    'duration-400',
    'ease-in-out',
    'hover:border-transparent',
    'cursor-pointer',
    style === 'primary' ? 'btn-primary' : '',
    style === 'secondary' ? 'btn-secondary' : '',
    style === 'outline' ? 'btn-outline' : '',
    wFull ? 'w-full' : '',
    hFull ? 'h-full' : ''
  ]"
>
  <ng-content></ng-content>
</button>
