<section>
  <div class="wrapper">
    <div class="cta-inner">
      <div>
        <img class="cta-img" src="/cta.jpg" alt="cta image" />
      </div>
      <div class="cta-text-content">
        <div class="cta-text-content-inner">
          <p class="uppercase font-text mb-2">
            BACK IN STOCK: Discover our rarest opal
          </p>
          <p class="text-3xl font-title mb-4 leading-[1.3] font-normal">
            Herzegovinian Opal - A singular gemstone marvel
          </p>
          <hr class="cta-text-separator" />
          <p class="font-text text-[16px] leading-6 mb-4">
            If you missed out last year, now’s your chance to experience
            something truly unique - these rare Herzegovinian opals, small as a
            pearl, shimmer with hues of azure, violet, and gold. A must-have for
            those seeking timeless luxury and distinction.
          </p>
          <app-button [style]="'secondary'">shop now</app-button>
        </div>
      </div>
    </div>
  </div>
</section>
