<section id="cta" [ngClass]="[bgColor, paddingY ? 'cta-padding-y' : '']">
  <div class="wrapper">
    <div
      class="cta-inner"
      [ngClass]="[reverseLayout ? 'cta-inner-reverse' : '', innerBg]"
    >
      <div class="cta-img-container">
        <ng-container *ngIf="images.length === 1; else multiImage">
          <img class="cta-img" [src]="images[0].src" [alt]="images[0].alt" />
        </ng-container>
        <ng-template #multiImage>
          <div class="cta-images">
            <img
              *ngFor="let image of images; let i = index"
              [src]="image.src"
              [alt]="image.alt"
              [ngClass]="
                i === 0
                  ? 'col-start-1 row-start-1 cta-multiple-img hidden md-wrapper:block'
                  : i === 1
                  ? 'col-start-1 row-start-2 cta-multiple-img hidden md-wrapper:block'
                  : 'col-span-2 row-span-2 cta-multiple-img md-wrapper:col-start-2 md-wrapper:row-start-1 md-wrapper:row-span-2 md-wrapper:col-span-1'
              "
            />
          </div>
        </ng-template>
      </div>
      <div
        class="cta-text-content"
        [ngClass]="[
          textPaddingLefth ? 'cta-text-p-lefth' : '',
          reverseLayout ? 'cta-text-content-pl-zero' : ''
        ]"
      >
        <div class="cta-text-content-inner">
          <p
            class="cta-headline"
            [ngClass]="headlineTag ? 'cta-headline-tag' : null"
          >
            {{ headline }}
          </p>
          <p class="cta-subheadline">
            {{ subheadline }}
          </p>
          <hr *ngIf="showSeparator" class="cta-text-separator" />
          <p class="cta-description">
            {{ description }}
          </p>
          <div *ngIf="showBanner" class="cta-banner">
            <span
              class="material-symbols-outlined cta-banner-icon animate-bounce-down-up"
            >
              pin_drop
            </span>
            <div>
              <p class="cta-banner-text">
                Use code ORIGINOFTHEWEEK at checkout for 20% off all our Mexico
                City luxury's this week!
              </p>
            </div>
          </div>
          <app-button [style]="buttonStyle">{{ buttonText }}</app-button>
        </div>
      </div>
    </div>
  </div>
</section>
