<section id="testimonials">
  <div class="wrapper">
    <div>
      <h3 class="testimonials-title">
        See what people are saying about our opals!
      </h3>
      <div class="testimonials-wrapper">
        <!-- Mobile Swiper -->
        <div
          *ngIf="isMobile; else desktopTestimonials"
          class="swiper collection-swiper"
        >
          <div class="swiper-wrapper">
            @for (testimonial of testimonials; track testimonial.id) {
            <app-card
              class="swiper-slide"
              [id]="testimonial.id"
              [testimonial]="testimonial.testimonial"
              [author]="testimonial.author"
            ></app-card>
            }
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <!-- Desktop Grid -->
        <ng-template #desktopTestimonials>
          @for (testimonial of testimonials; track testimonial.id) {
          <app-card
            [id]="testimonial.id"
            [testimonial]="testimonial.testimonial"
            [author]="testimonial.author"
          ></app-card>
          }
        </ng-template>
      </div>
    </div>
  </div>
</section>
