<section id="testimonials">
  <div class="wrapper">
    <div class="testimonials-container">
      <div class="w-full flex justify-center">
        <h3 class="testimonials-title">
          See what people are saying about our opals!
        </h3>
      </div>
      <div class="testimonials-wrapper">
        <div
          id="testimonials-swiper"
          *ngIf="isMobile; else desktopTestimonials"
          class="swiper testimonials-swiper"
        >
          <div class="swiper-wrapper">
            @for (testimonial of testimonials; track testimonial.id) {
            <app-card
              class="swiper-slide"
              [id]="testimonial.id"
              [testimonial]="testimonial.testimonial"
              [author]="testimonial.author"
            ></app-card>
            }
          </div>
          <div class="flex justify-center w-full">
            <div
              class="swiper-pagination testimonials-pagination progress-pagination"
            ></div>
          </div>
        </div>

        <ng-template #desktopTestimonials>
          @for (testimonial of testimonials; track testimonial.id) {
          <app-card
            [id]="testimonial.id"
            [testimonial]="testimonial.testimonial"
            [author]="testimonial.author"
          ></app-card>
          }
        </ng-template>
      </div>
    </div>
  </div>
</section>
