@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

@theme {
  --color-seashell: #f6f2ed;
  --color-opal-cream: #f2e9dd;
  --color-dark-slate-green: #39473e;
  --color-desert-gold: #c5af8b;
  --color-white-smoke: #f9f9f9;
  --color-green-star: #219653;
  --color-footer-newsletter-background: #d1c0ab;
  --color-swiper-progress-bar: #39473e;
  --color-gray-footer-line: rgba(106, 106, 106, 0.1);
  --color-gray-search-bar: #f9f9f9;
  --color-badge-md-dark: #885f46;
  --color-badge-md: #a37951;
  --color-badge-light: #bb8f62;
  --color-badge-dark: #6d4130;
  --color-steel-blue: #4d5c63;
  --color-green-400: #394747;
  --breakpoint-4k: 240rem;
  --breakpoint-md-wrapper: 52.125rem;
  --breakpoint-md-navbar: 77.5rem;
  --text-mobile: 14px;
  --text-title-mobile: 38px;
  --tracking-small: 1.12px;
  --font-title: "Lora", "Arial", "sans-serif";
  --font-text: "Poppins", "Arial", "sans-serif";
  --animate-bounce-down-up: bounce-down-up 0.9s ease-in-out infinite;
}

:root {
  --custom-height-mobile: 250px;
  --custom-height: 750px;
  --bg-overlay: linear-gradient(
    22deg,
    rgba(21, 21, 21, 1) 9%,
    rgba(255, 79, 173, 0) 64%,
    rgba(255, 70, 199, 0) 70%
  );
  --bg-collection: linear-gradient(1deg, #0006 2%, #0000 95%);
  --bg-text-cta-separator: #00000029;
  --bg-cta-banner: #f9f9f9;
  --bg-origin-week: url("/cta_4.jpg");
}

body {
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  @apply w-full max-w-[1440px] px-4 md-wrapper:px-10 mx-auto;
}

.btn-primary {
  @apply hover:bg-black hover:text-white;
}

.btn-secondary {
  @apply hover:bg-dark-slate-green hover:border-dark-slate-green border-black bg-black text-white;
}

.btn-outline {
  @apply hover:bg-white hover:text-black;
}

.thin-icon {
  font-variation-settings: "wght" 100;
}

#hero-swiper-pagination {
  position: inherit;
  @apply bottom-10 left-10 z-50 w-fit hidden md-wrapper:block;
}

#hero-swiper-pagination .swiper-pagination-bullet {
  @apply bg-transparent opacity-100 border w-[9px] h-[9px] transition-colors duration-[.3s] ease-in;
}

#hero-swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-black;
}

#hero-swiper-pagination .hero-swiper-pagination-bullet {
  @apply border-white;
}

#hero-swiper-pagination .hero-swiper-pagination-bullet-active {
  @apply bg-white;
}

.swiper-pagination.progress-pagination {
  @apply -bottom-6 bg-transparent top-[unset] max-w-[200px] text-center h-0.5 static;
}

.progress-pagination .swiper-pagination-progressbar-fill {
  @apply bg-swiper-progress-bar rounded-sm overflow-hidden;
}

#testimonials-swiper .swiper-wrapper {
  @apply mb-6;
}

#collection-swiper .swiper-slide {
  width: 80%;
}

#product-details .swiper-pagination-bullet {
  @apply border-black border-2 bg-transparent;
}

#product-details .swiper-pagination-bullet-active {
  @apply bg-black;
}

.no-hover .group:hover .megamenu {
  display: none !important;
}

.no-drag {
  -webkit-user-drag: none;
}

.top-full-plus-2 {
  top: calc(100% + 8px);
}

.custom-select-options.open {
  max-height: 230px;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
  margin-bottom: 2px;
  -webkit-overflow-scrolling: auto;
  will-change: scroll-position;
}

@keyframes bounce-down-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
