@import "tailwindcss";
@import "swiper/css";

@theme {
  --color-seashell: #f6f2ed;
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --breakpoint-4k: 240rem;
  --text-mobile: 14px;
  --text-title-mobile: 38px;
  --tracking-small: 1.12px;
}

:root {
  --custom-height-mobile: 250px;
  --custom-height: 750px;
}
