@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "swiper/css";

@theme {
  --color-seashell: #f6f2ed;
  --color-dark-slate-green: #39473e;
  --breakpoint-4k: 240rem;
  --text-mobile: 14px;
  --text-title-mobile: 38px;
  --tracking-small: 1.12px;
  --font-title: "Lora", "Arial", "sans-serif";
  --font-text: "Poppins", "Arial", "sans-serif";
}

:root {
  --custom-height-mobile: 250px;
  --custom-height: 750px;
  --bg-overlay: linear-gradient(
    22deg,
    rgba(21, 21, 21, 1) 9%,
    rgba(255, 79, 173, 0) 64%,
    rgba(255, 70, 199, 0) 70%
  );
}

body {
  -webkit-font-smoothing: antialiased;
}

.btn-primary {
  @apply hover:bg-black hover:text-white;
}

.btn-secondary {
  @apply hover:bg-dark-slate-green hover:text-white;
}

.btn-outline {
  @apply hover:bg-white hover:text-black;
}
