<div class="wrapper">
  <div class="mb-6">
    <div class="flex flex-col gap-4 font-title font-normal">
      <h1 class="text-[32px]">
        Search results for "{{ searchTerm || "all products" }}"
      </h1>
      <span *ngIf="searchResults.length > 0">
        {{ searchResults.length }} result{{
          searchResults.length === 1 ? "" : "s"
        }}
        found
      </span>
      <span *ngIf="searchResults.length === 0 && searchTerm">
        0 results found
      </span>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-4 mb-6">
    <div class="flex flex-wrap gap-4 items-center font-text">
      <div class="flex flex-col mb-2 min-w-[180px] md-wrapper:min-w-[210px]">
        <label class="text-sm">Category</label>
        <div class="flex items-center relative">
          <select
            [(ngModel)]="selectedCategory"
            (change)="onFilterChange()"
            (click)="toggleDropdown('category')"
            class="appearance-none p-2 capitalize focus-visible:outline-none w-full"
            data-dropdown="category"
          >
            <option
              class="capitalize"
              *ngFor="let cat of categories"
              [value]="cat"
            >
              {{ cat }}
            </option>
          </select>
          <span
            class="material-symbols-outlined absolute right-2 pointer-events-none transition-transform duration-300"
            [class.rotate-180]="dropdownStates['category']"
          >
            keyboard_arrow_up
          </span>
        </div>
      </div>

      <div class="flex flex-col mb-2 min-w-[180px] md-wrapper:min-w-[210px]">
        <label class="text-sm">Company</label>
        <div class="flex items-center relative">
          <select
            [(ngModel)]="selectedCompany"
            (change)="onFilterChange()"
            (click)="toggleDropdown('company')"
            class="appearance-none p-2 capitalize focus-visible:outline-none w-full"
            data-dropdown="company"
          >
            <option *ngFor="let comp of companies" [value]="comp">
              {{ comp }}
            </option>
          </select>
          <span
            class="material-symbols-outlined absolute right-2 pointer-events-none transition-transform duration-300"
            [class.rotate-180]="dropdownStates['company']"
          >
            keyboard_arrow_up
          </span>
        </div>
      </div>

      <div class="flex flex-col mb-2 min-w-[180px] md-wrapper:min-w-[210px]">
        <label class="text-sm">Color</label>
        <div class="flex items-center relative">
          <select
            [(ngModel)]="selectedColor"
            (change)="onFilterChange()"
            (click)="toggleDropdown('color')"
            class="appearance-none p-2 capitalize focus-visible:outline-none w-full"
            data-dropdown="color"
          >
            <option *ngFor="let c of colors" [value]="c">
              {{ getColorLabel(c) }}
            </option>
          </select>
          <span
            class="material-symbols-outlined absolute right-2 pointer-events-none transition-transform duration-300"
            [class.rotate-180]="dropdownStates['color']"
          >
            keyboard_arrow_up
          </span>
        </div>
      </div>

      <label class="text-sm font-poppins flex items-center gap-1">
        <input
          type="checkbox"
          [(ngModel)]="freeShippingOnly"
          (change)="onFilterChange()"
        />
        Free Shipping
      </label>
    </div>

    <div class="flex items-center gap-2 ml-auto">
      <label for="sort" class="font-poppins text-sm">Sort By:</label>
      <div class="relative">
        <select
          id="sort"
          [(ngModel)]="sortBy"
          (ngModelChange)="onSortChange()"
          (click)="toggleDropdown('sort')"
          class="appearance-none p-2 border rounded font-poppins text-sm bg-white text-black pr-8 w-full"
          data-dropdown="sort"
        >
          <option *ngFor="let option of sortOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <span
          class="material-symbols-outlined absolute right-2 top-1/2 -translate-y-1/2 pointer-events-none transition-transform duration-300"
          [class.rotate-180]="dropdownStates['sort']"
        >
          keyboard_arrow_up
        </span>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
  >
    <div
      *ngFor="let product of searchResults"
      class="swiper-slide rounded shadow-sm hover:shadow-md transition group"
    >
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>

  <p
    *ngIf="searchTerm && searchResults.length === 0"
    class="text-gray-500 text-sm mt-4"
  >
    No results found.
  </p>
</div>
